################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.LearningManagement/.vs/App.LearningManagement
/App.LearningManagement/obj
/Library.LearningManagement/obj
/App.LearningManagement/bin/Debug/net7.0
/Library.LearningManagement/bin/Debug/net7.0
/UWP.LearningManagement/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
*.cache
/LearningManagement.API/.vs/LearningManagement.API/FileContentIndex
